.dataShow {
  display: inline-block;
  position: relative; }
  .dataShow thead a {
    text-decoration: none; }
nav ul li {
  display: inline-block;
  cursor: pointer;
  padding: 1em;
  border-bottom: 0px solid; }
  nav ul li:nth-of-type(1) {
    border-color: #B4F0A8; }
  nav ul li:nth-of-type(2) {
    border-color: #A8F0B4; }
  nav ul li:nth-of-type(3) {
    border-color: #A8F0CC; }
  nav ul li:nth-of-type(4) {
    border-color: #A8F0E4; }
  nav ul li:nth-of-type(5) {
    border-color: #A8E4F0; }
  nav ul li:nth-of-type(6) {
    border-color: #A8CCF0; }
  nav ul li:nth-of-type(7) {
    border-color: #A8C0F0; }
  nav ul li:nth-of-type(8) {
    border-color: #A8A8F0; }
  nav ul li:nth-of-type(9) {
    border-color: #C0A8F0; }
  nav ul li:nth-of-type(10) {
    border-color: #F0A8F0; }
  nav ul li:nth-of-type(11) {
    border-color: #FF99EE; }
  nav ul li:nth-of-type(12) {
    border-color: #F0A8D8; }
  nav ul li:nth-of-type(13) {
    border-color: #F0A8C0; }
  nav ul li:nth-of-type(14) {
    border-color: #F0A8A8; }

nav ul li.selected {
  border-width: 4px; }
.priceToVolume {
  position: relative;
  display: block; }
  .priceToVolume svg > text {
    display: none; }
  .priceToVolume svg > text.highcharts-title {
    display: block; }
  .priceToVolume svg > text.highcharts-subtitle {
    display: block; }
.volumePie {
  position: relative;
  display: inline-block; }
  .volumePie svg > text {
    display: none; }
  .volumePie svg > text.highcharts-title {
    display: block; }
  .volumePie svg > text.highcharts-subtitle {
    display: block; }
  .volumePie svg text {
    margin-bottom: -15px; }
  .volumePie svg > text {
    display: none; }
  .volumePie svg > text.highcharts-title {
    display: block; }
nav.siteNav ul li {
  display: inline-block; }
.timestamp {
  display: block; }
section {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
.allTimeHist svg > text {
  display: none; }

.allTimeHist svg > text.highcharts-title {
  display: block; }

.allTimeHist svg > text.highcharts-subtitle {
  display: block; }
.todayHist svg > text {
  display: none; }

.todayHist svg > text.highcharts-title {
  display: block; }

.todayHist svg > text.highcharts-subtitle {
  display: block; }
body {
  margin: 0; }
  body #root {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    position: relative; }
