@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);.dataShow {
  display: inline-block;
  position: relative;
  background-color: #f7f7f7;
  min-width: 335.2px;
  max-width: 900px;
  margin-top: 24px; }
  .dataShow .tableContainer {
    width: 100%; }
    .dataShow .tableContainer table {
      padding: 1em;
      color: #777;
      margin: 24px auto 0 auto;
      font-size: 14px;
      width: 303px; }
      .dataShow .tableContainer table thead tr td {
        padding: 4px 0;
        font-size: 20px; }
        .dataShow .tableContainer table thead tr td a {
          font-weight: bold; }
      .dataShow .tableContainer table tbody tr {
        width: 281px; }
        .dataShow .tableContainer table tbody tr td:nth-of-type(1) {
          width: 183px; }
        .dataShow .tableContainer table tbody tr td:nth-of-type(2) {
          width: 86px; }

@media (max-width: 1100px) {
  .dataShow {
    width: 100%;
    min-height: 241px;
    margin: 0 auto;
    border: 0px; } }
nav.exchanges ul {
  padding-left: 0;
  text-align: center;
  min-height: 54px;
  margin: 24px 0;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  nav.exchanges ul li {
    display: inline-block;
    cursor: pointer;
    padding: 1em;
    border-bottom: 0px solid;
    margin-bottom: 4px;
    font-size: 0.95em; }
  nav.exchanges ul li.selected {
    border-width: 4px;
    margin-bottom: 0px; }
.priceToVolume {
  position: relative;
  height: 400px;
  display: block; }
  .priceToVolume svg > text {
    display: none; }
  .priceToVolume svg > text.highcharts-title {
    display: block; }
  .priceToVolume svg > text.highcharts-subtitle {
    display: block; }

@media (max-width: 1100px) {
  .priceToVolume {
    border-top: 4px solid #f7f7f7; } }
.volumePie {
  position: relative;
  display: inline-block;
  float: right;
  max-width: 538px;
  width: 538px;
  min-width: 488px;
  min-height: 400px; }
  .volumePie svg > text {
    display: none; }
  .volumePie svg > text.highcharts-title {
    display: block; }
  .volumePie svg > text.highcharts-subtitle {
    display: block; }
  .volumePie svg > text {
    display: none; }
  .volumePie svg > text.highcharts-title {
    display: block; }

@media (max-width: 1100px) {
  .volumePie {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    border: 0px; } }
.timestamp {
  display: block;
  text-align: center;
  position: relative;
  font-size: 14px;
  color: #777; }
nav.siteNav ul {
  margin: 0;
  border-bottom: 4px solid #f7f7f7;
  text-align: right; }
  nav.siteNav ul li {
    display: inline-block;
    padding: 12px; }
    nav.siteNav ul li a {
      color: #333; }
svg.loading {
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -75px;
  position: absolute; }
  svg.loading path:nth-of-type(1) {
    fill: #f5b697; }
  svg.loading path:nth-of-type(2) {
    fill: #f5e797; }
  svg.loading path:nth-of-type(3) {
    fill: #f29c98; }
  svg.loading path:nth-of-type(4) {
    fill: #f298bf; }
section {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 48px;
  min-height: 400px; }

@media (max-width: 1100px) {
  section {
    margin-bottom: 24px;
    min-height: 629px; } }
.timeline {
  position: relative;
  height: 400px;
  margin-top: 36px; }
  .timeline svg > text {
    display: none; }
  .timeline svg > text.highcharts-title {
    display: block; }
  .timeline svg > text.highcharts-subtitle {
    display: block; }
  .timeline button {
    background-color: transparent;
    font-family: "Open Sans", Helvetica, Arial;
    position: absolute;
    right: 11px;
    padding: 0.5em;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1; }
.history h1 {
  margin: 1.5em 0; }
body {
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial;
  background-color: #f7f7f7;
  color: #333; }
  body a {
    text-decoration: none; }
  body #root {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    padding: 36px; }
    body #root .app footer {
      text-align: center;
      margin-top: 36px; }
      body #root .app footer svg {
        fill: #777; }
        body #root .app footer svg:hover {
          fill: #000; }
