div.pie {
  position: relative;

  svg {
    text {
      margin-bottom: -15px;
    }

    path {

      &:hover {

      }
    }

    > text {
      display: none;
    }

    > text.highcharts-title {
      display: block;
    }
  }
}
