nav {
  ul {
    li {
      display: inline-block;
      cursor: pointer;
      padding: 1em;
      box-sizing: border-box;
      border-bottom: 0px solid;
      &:nth-of-type(1) {
        border-color: #B4F0A8;
      }
      &:nth-of-type(2) {
        border-color: #A8F0B4;
      }
      &:nth-of-type(3) {
        border-color: #A8F0CC;
      }
      &:nth-of-type(4) {
        border-color: #A8F0E4;
      }
      &:nth-of-type(5) {
        border-color: #A8E4F0;
      }
      &:nth-of-type(6) {
        border-color: #A8CCF0;
      }
      &:nth-of-type(7) {
        border-color: #A8C0F0;
      }
      &:nth-of-type(8) {
        border-color: #A8A8F0;
      }
      &:nth-of-type(9) {
        border-color: #C0A8F0;
      }
      &:nth-of-type(10) {
        border-color: #F0A8F0;
      }
      &:nth-of-type(11) {
        border-color: #FF99EE;
      }
      &:nth-of-type(12) {
        border-color: #F0A8D8;
      }
      &:nth-of-type(13) {
        border-color: #F0A8C0;
      }
      &:nth-of-type(14) {
        border-color: #F0A8A8;
      }
    }

    li.selected {
      border-width: 4px;
    }
  }
}
