nav.exchanges {

  ul {
    padding-left: 0;
    text-align: center;
    min-height: 54px;
    margin: 24px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
      display: inline-block;
      cursor: pointer;
      padding: 1em;
      border-bottom: 0px solid;
      margin-bottom: 4px;
      font-size: 0.95em;
    }

    li.selected {
      border-width: 4px;
      margin-bottom: 0px;
    }
  }
}
