@import '../chartMixin.scss';

.priceToVolume {
  @include noAd;
  border: 1px solid #777;

  position: relative;
  display: block;
}

@media (max-width: 1100px) {
  .priceToVolume {
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
  }
}
