@import '../chartMixin.scss';

.priceToVolume {
  @include noAd;

  position: relative;
  height: 400px;
  display: block;
}

@media (max-width: 1100px) {
  .priceToVolume {
    border-top: 4px solid #f7f7f7;
  }
}
