@import '../chartMixin.scss';

.volumePie {
  @include noAd;

  position: relative;
  display: inline-block;
  border: 1px solid #777;
  float: right;

  svg {
    text {
      margin-bottom: -15px;
    }

    path {

      &:hover {

      }
    }

    > text {
      display: none;
    }

    > text.highcharts-title {
      display: block;
    }
  }
}
