div.volumePie {
  position: relative;
  display: inline-block;

  svg {
    text {
      margin-bottom: -15px;
    }

    path {

      &:hover {

      }
    }

    > text {
      display: none;
    }

    > text.highcharts-title {
      display: block;
    }
  }
}
